GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ALLOWED_EMAILS=you@gmail.com,friend@gmail.com
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3009
NEXT_PUBLIC_APP_URL=http://localhost:3009
DATABASE_URL=postgresql://scripty:scriptypass@localhost:5460/scripty
PORT=3009
